main {
    margin: 50px;
    max-width: 80%;
    margin: auto;
}

h1 {
  font-family: "Neuton", serif;
}

h2 {
    font-family: "Neuton", serif;
}

#contact-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

#header-container {
    margin-top: 7vh;
}

a {
    color: black;
}

#portfolio-container {
    margin-bottom: 15vh;
}

.neuton-extralight {
  font-family: "Neuton", serif;
  font-weight: 200;
  font-style: normal;
}

.neuton-light {
  font-family: "Neuton", serif;
  font-weight: 300;
  font-style: normal;
}

.neuton-regular {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
}

.neuton-bold {
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}

.neuton-extrabold {
  font-family: "Neuton", serif;
  font-weight: 800;
  font-style: normal;
}

.neuton-regular-italic {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: italic;
}
